:root {
    --text: #333434;
    /*--swamp: #EFEFEF;*/
    --swamp: #D6EAF8;
    --endeavour: #0F5C9B;
    --button: #00CAEC; /*goldenpoppy*/
    --golden-poppy: #FFC412;
    --lemon: #FFEB0E;
    --malachite-green: #A0975A;
    --gridSize: 50px;

    --componentBackground: #E3E3E3;
    --appBackground: #f7f7f7;

    --dark-blue: #154890 ; /*grid*/
    --malibu-blue: #6699FF; /*sidebar*/
    --brown-gray: #CDBFAC;
    --bone-gray: #E1D4C0;
    --background: #F5EDE3; /*merino-gray*/
    --blaze-orange: #FF6600; /*blaze-orange*/
    --sweeper-red: #FF0000;
}

/*.gameButton {

}*/

@font-face {
  font-family: "Luigi";
  src: url('../fonts/MarioandLuigi.ttf') format("truetype");
}

@font-face {
    font-family: "Mario";
    src: url('../fonts/SuperMarioBros.ttf');
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

/*
===================================================
REUSABLE COMPONENTS
===================================================
*/

.App-Components {
  animation-duration: 1s;
  animation-name: slidein;
  padding: 2%;
  margin: 1%;
  border-width: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--componentBackground);
  border-width: 10px;
  border-style: solid;
  border-color: var(--text);
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}


#header-text {
  font-family: "Mario";
  border-width: 10px;
  border-style: solid;
  border-color: var(--button);
  border-radius: 10px;
  background-color: var(--text);
  color: var(--button);
  display: block;
  font-family: "Mario";
  position: relative;
  font-size: 64px;
}

/*
===================================================
BUTTONS
===================================================
*/

button, a{
  font-size: 30px;
  font-family: "Mario";
  background-color: var(--button);
  border-width: 0px;
  border-radius: 15px;
  box-shadow: 0 5px #FF9900;
  margin-top: 6.5px;
  margin-left: 6px;
}

button:hover,

button.hover{
  background-color: #FFCC00;
}

button:active,

button.active {
  box-shadow: 0 2px #FF9900;
  transform: translateY(3px);
}


body {
  font-family: "Luigi";
  color: var(--text);
  background-color: var(--appBackground);

  /*background-color: #F0F9FF;*/
  font-size: 18px;
}

li {
  font-family: "Luigi";
  color: var(--text);
  font-size: 18px;
}

/*
===================================================
LOGIN
===================================================
*/


/* app.js */

#MadIcon {
  /*float: left;*/
  width: 64px;
  height: 64px;
  size: cover;
  z-index: 13;
  content: url(../images/mad_icon.png);
}

/* from this line: classes and ids from loginPage */
.userProfile {
  display: inline-block;
}

.sameWidthCol {
  width: 100px;
}

/*#userImage {
  float: left;
}

#userInfo {
  float: right;
}*/

.login-banner {
  margin-top: -35px;
}

.formCentered {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

/*
===================================================
ROOMLIST
===================================================
*/

#roomListTable {
  border-collapse: separate;
  border-spacing: 20px 20px;
}

.progressBarInRoomList {
  vertical-align: middle;
}

.roomList {
  animation-duration: 1s;

  font-family: "Luigi";
  background-color: #FFFFBA;
}

.roomName:hover {
  font-style: italic;
  cursor: pointer;
  color: var(--dark-blue);
}

.roomList {
  font-family: "Luigi";
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#section1 {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1%;
  animation-duration: 1s;
  animation-name: slidein;
}

#section2 {
  border-width: 10px;
  border-style: solid;
  border-color: var(--golden-poppy);
  border-radius: 10px;
  padding: 1%;
  background-color: var(--text);
  text-align: center;
  float:right;
  color: var(--golden-poppy);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*  animation-duration: 1s;
  animation-name: slidein;
*/  padding: 2%;
  margin: 1%;
}

#userInfoRender {
  position: relative;
}

#roomListRender {
  position: relative;
}

#roomInfoRender {
  margin-left: 20%;
  margin-top: -50%;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  background-color: #FFDFBA;
  z-index: 3;
  width: 40%;
  font-size: 25px;
  padding-top: 25px;
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

.grid {
  display: inline-block;
  width: var(--gridSize);
  height: var(--gridSize);
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 225%;
  text-align: center;
}

.grid-overview {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  margin: none;
  padding: none;
}

.rowOverview {
  height: 12px;
}

.gameBoard {
  font-family: Luigi;
  outline: none;
  position: relative;
}

.playGround {
  outline: none;
}

.player {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  background-image: url('../images/tank.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: .2s;
  border-width: 0;
  z-index: 2;
}

.lootList {
}

.lootItem {
  display: inline-block;
  padding-right: 20px;
}

.lootBanana {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  content: url('../images/assets/banana.png');
  background-size: cover;
}

.lootBullet {
  border-radius: 20px;
  width: 80px;
  height: 80px;
  content: url('../images/assets/arrowR.png');
  background-size: cover;
}

.lootShield {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  content: url('../images/assets/shieldCopy.png');
  background-size: cover;
}

.bulletL {
  background-image: url('../images/assets/arrowL.png');
}

.bulletR {
  background-image: url('../images/assets/arrowR.png');
}

.bulletU {
  background-image: url('../images/assets/arrowU.png');
}

.bulletD {
  background-image: url('../images/assets/arrowD.png');
}

.bullet {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  /*background-image: url('../images/bullet.png');*/
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: .1s;
  transition-timing-function: linear;
  border-width: 0;
  z-index: 1;
}

.banana {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  background-image: url('../images/assets/banana.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 0;
  z-index: 1;
}

.player-left {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  background-image: url('../images/robot.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: .2s;
  border-width: 0;
  z-index: 2;
  /* this part of css will mirror the gif image */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.player-right {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  background-image: url('../images/robot.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: .2s;
  border-width: 0;
  z-index: 2;
}

.player-text {
  z-index: 2;
  position: absolute;
}

.player-dance{
  animation: danceParty linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: danceParty linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
}

@keyframes danceParty{
  0% {
    opacity:0.99;
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    opacity:0.9501864986401444;
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    opacity:0.9119229380076546;
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    opacity:0.8711511111111111;
    transform:  rotate(36deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    opacity:0.8337688888888889;
    transform:  rotate(-3deg) scaleX(1.40) scaleY(1.40) ;
  }
  50% {
    opacity:0.7949999999999999;
    transform:  rotate(3deg) scaleX(1.60) scaleY(1.60) ;
  }
  60% {
    opacity:0.7562311111111111;
    transform:  rotate(-36deg) scaleX(1.60) scaleY(1.60) ;
  }
  70% {
    opacity:0.7188488888888889;
    transform:  rotate(3deg) scaleX(1.60) scaleY(1.60) ;
  }
  80% {
    opacity:0.6780770619923454;
    transform:  rotate(-3deg) scaleX(1.60) scaleY(1.60) ;
  }
  90% {
    opacity:0.6398135013598556;
    transform:  rotate(3deg) scaleX(1.60) scaleY(1.60) ;
  }
  100% {
    opacity:0.6;
    transform:  rotate(0deg) scaleX(1.60) scaleY(1.60) ;
  }
}

@-webkit-keyframes danceParty {
  0% {
    opacity:0.99;
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    opacity:0.9501864986401444;
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    opacity:0.9119229380076546;
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    opacity:0.8711511111111111;
    -webkit-transform:  rotate(36deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    opacity:0.8337688888888889;
    -webkit-transform:  rotate(-3deg) scaleX(1.40) scaleY(1.40) ;
  }
  50% {
    opacity:0.7949999999999999;
    -webkit-transform:  rotate(3deg) scaleX(1.60) scaleY(1.60) ;
  }
  60% {
    opacity:0.7562311111111111;
    -webkit-transform:  rotate(-36deg) scaleX(1.60) scaleY(1.60) ;
  }
  70% {
    opacity:0.7188488888888889;
    -webkit-transform:  rotate(3deg) scaleX(1.60) scaleY(1.60) ;
  }
  80% {
    opacity:0.6780770619923454;
    -webkit-transform:  rotate(-3deg) scaleX(1.60) scaleY(1.60) ;
  }
  90% {
    opacity:0.6398135013598556;
    -webkit-transform:  rotate(3deg) scaleX(1.60) scaleY(1.60) ;
  }
  100% {
    opacity:0.6;
    -webkit-transform:  rotate(0deg) scaleX(1.60) scaleY(1.60) ;
  }
}




.grid-initial {
  width: var(--gridSize);
  height: var(--gridSize);
  background-color: var(--golden-poppy);
  vertical-align: top;
}

.grid-flag {
  width: var(--gridSize);
  height: var(--gridSize);
  content: url('../images/assets/flag3Copy.png');
  vertical-align: top;
}

.grid-wrongFlag {
  width: var(--gridSize);
  height: var(--gridSize);
  content: url('../images/assets/x.png');
  vertical-align: top;
}

.grid-explosion {
  width: var(--gridSize);
  height: var(--gridSize);
  content: url('../images/assets/explosion.png');
  /*content: url('../images/assets/cloud_fire1.png');*/
  vertical-align: top;
}

.grid-revealed {
 width: var(--gridSize);
 height: var(--gridSize);
 color: red;
}

.grid-overview-0 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: var(--golden-poppy);
}

.grid-overview-1 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: grey;
}

.grid-overview-10 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: blue;
}

.grid-overview-11 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: red;
}

#playerScore {
  font-size: 45px;
  font-weight: bold;
}

.gameResult {
  margin-left: 10%;
  margin-top: 2%;
  position: absolute;
  background-color: var(--swamp);
  z-index: 3;
  width: 45%;
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

.gameResultTable {
  margin: 0 auto;
  border-spacing: 15px;
  border-collapse: separate;
}

.gameResultImage {
  display: inline;
  width: var(--gridSize);
  height: var(--gridSize);
  border-width: 0;
  z-index: 4;
}

.gameResultImageArrow {
  width: 80px;
  height: 80px;
}

.scoreItem {
  font-size: 35px;
  font-family: Luigi;
}

.scoreboard-score {
  display: inline-block;
  text-align: center;
  line-height: var(--gridSize);
  width: var(--gridSize);
  height: var(--gridSize);
  border-radius: 25px;
  border-width: 2px;
  border-color: black;
}

.scoreboard-id {
  margin-left: var(--gridSize);
  display: inline-block;
  vertical-align: center;
}

.enhance-key {
  font-size: 20px;
  font-weight: bold
}