:root {
    --text: #333434;
    /*--swamp: #EFEFEF;*/
    --swamp: #D6EAF8;
    --endeavour: #0F5C9B;
    --golden-poppy: #FFC412;
    --lemon: #FFEB0E;
    --malachite-green: #A0975A;
    --gridSize: 50px;

    --dark-blue: #154890 ; /*grid*/
    --malibu-blue: #6699FF; /*sidebar*/
    --brown-gray: #CDBFAC;
    --bone-gray: #E1D4C0;
    --background: #F5EDE3; /*merino-gray*/
    --button: #FF6600; /*blaze-orange*/
}

/*.gameButton {

}*/

@font-face {
  font-family: "Mario";
  src: url('../fonts/SuperMarioBros.ttf') format("truetype");
}

a{
  text-decoration: none;
}
button, a{
  font-size: 22px;
  font-family: "Mario";
  background-color: var(--button);
  border-width: 0px;
  border-radius: 15px;
  box-shadow: 0 5px #FF9900;
  margin-top: 6.5px;
  margin-left: 6px;
}

button:hover,

button.hover{
  background-color: #FFCC00;
}

button:active,

button.active {
  box-shadow: 0 2px #FF9900;
  transform: translateY(3px);
}


.App-Components {
  padding: 2%;
  animation-duration: 1s;
  animation-name: slidein;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  /*font-family:'Roboto', sans-serif;*/
  font-family: "Mario";
  color: var(--text);
  background-color: var(--background);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* app.js */
.headerCentered {
  text-align: center;
}
#MadIcon {
  /*float: left;*/
  width: 64px;
  height: 64px;
  size: cover;
  z-index: 13;
  content: url(../images/mad_icon.png);
}
#header-text {
  border-width: 10px;
  border-style: solid;
  border-color: var(--button);
  border-radius: 10px;
  background-color: var(--text);
  color: var(--button);
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  font-size: 64px;
}

/* from this line: classes and ids from loginPage */
.userProfile {
  display: inline-block;
}

#userImage {
  float: left;
}

#userInfo {
  float: left;
}

#header-image-container {
  margin-top: -35px;
}

.formCentered {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

#roomListTable {
  border-collapse: separate;
  border-spacing: 20px 20px;
}

.progressBarInRoomList {
  vertical-align: middle;
}

.roomList {
  font-size: 22px;
  font-family: "Mario";
  background-color: #FAE5D3;
  border-width: 0px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 5px #FF9900;
  margin-top: 6px;
  margin-left: 6px;
  padding-left: 16px;
  padding-top: 2px;
}

.roomName:hover {
  font-style: italic;
  font-size: 30px;
  cursor: pointer;
}

#section1 {
  float: left;
}

#section2 {
  border-width: 10px;
  border-style: solid;
  border-color: var(--golden-poppy);
  border-radius: 10px;
  padding: 1%;
  background-color: var(--text);
  text-align: center;
  float:right;
  color: var(--golden-poppy);
}

.grid {
  display: inline-block;
  width: var(--gridSize);
  height: var(--gridSize);
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 225%;
  text-align: center;
}

.grid-overview {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  margin: none;
  padding: none;
}

.rowOverview {
  height: 12px;
}

.gameBoard {
  font-family: BirdyGame;
  outline: none;
  position: relative;
}

.playGround {
  outline: none;
}

.player {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  background-image: url('../images/walk_left.gif');
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: .2s;
  border-width: 0;
  z-index: 1;
}

.player-left {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  background-image: url('../images/walk_left.gif');
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: .2s;
  border-width: 0;
  z-index: 1;
}

.player-right {
  position: absolute;
  width: var(--gridSize);
  height: var(--gridSize);
  background-image: url('../images/walk_left.gif');
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: .2s;
  border-width: 0;
  z-index: 1;
  /* this part of css will mirror the gif image */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.player-text {
  z-index: 2;
  position: absolute;
}

.grid-initial {
  width: var(--gridSize);
  height: var(--gridSize);
  background-color: var(--golden-poppy);
  vertical-align: top;
}

.grid-flag {
  width: var(--gridSize);
  height: var(--gridSize);
  content: url('../images/flag.png');
  vertical-align: top;
}

.grid-wrongFlag {
  width: var(--gridSize);
  height: var(--gridSize);
  content: url('../images/redCross.png');
  vertical-align: top;
}

.grid-explosion {
  width: var(--gridSize);
  height: var(--gridSize);
  content: url('../images/explosion.png');
  vertical-align: top;
}

.grid-revealed {
 width: var(--gridSize);
 height: var(--gridSize);
 color: red;
}

.grid-overview-0 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: var(--golden-poppy);
}

.grid-overview-1 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: grey;
}

.grid-overview-10 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: blue;
}

.grid-overview-11 {
  width: 10px;
  height: 10px;
  vertical-align: top;
  background-color: red;
}

#playerScore {
  font-size: 45px;
  font-weight: bold;
}

.gameResult {
  margin-left: 10%;
  margin-top: 10%;
  position: absolute;
  background-color: grey;
  z-index: 3;
  width: 40%;
  height: 40%;
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

.scoreItem {
  font-size: 35px;
  font-family: BirdyGame;
}

.scoreboard-score {
  display: inline-block;
  text-align: center;
  line-height: var(--gridSize);
  width: var(--gridSize);
  height: var(--gridSize);
  border-radius: 25px;
  border-width: 2px;
  border-color: black;
}

.scoreboard-id {
  margin-left: var(--gridSize);
  display: inline-block;
  vertical-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
